<div class="wrapper" ng-app="edzoApp">
  <div class="main">
    <div class="graph" ng-controller="graphCtrl">
      <div class="node" ng-repeat="node in nodes" ng-controller="nodeCtrl" draggable draggable-position="node.position">
        <div class="tools">
          <span draggable-handle class="glyphicon glyphicon-move"></span>
        </div>
        {{node.person.name}}
      </div>
      <svg ng-attr-height="{{ (nodes | maxNodePosition).y }}">
        <line class="connection"
          ng-repeat="connection in connections"
          ng-attr-x1="{{connection.startNode.position.x}}"
          ng-attr-x2="{{connection.endNode.position.x}}"
          ng-attr-y1="{{connection.startNode.position.y}}"
          ng-attr-y2="{{connection.endNode.position.y}}" />
      </svg>
    </div>
  </div>
</div>
