<div class="wrapper" ng-app="edzoApp">
  <div class="controls">
    <input ng-model="test" type="text">
    {{ test }}
  </div>
  <div class="main">
    <div class="graph" ng-controller="GraphCtrl">
      <div class="person" ng-repeat="person in people" ng-controller="PersonCtrl">
        {{person.name}}
      </div>
    </div>
  </div>
</div>
