@import "bootstrap";
@import "mixins";

.node {
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  background: #eee;
  text-align: center;
  box-shadow: 1px 1px 10px #999;
  @include translate(-50%, -50%);

  .tools {
    text-align: right;
    .move {
      cursor: move;
    }
    .view {
      cursor: pointer;
    }
  }
}
